<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.namajshikkha.salat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/h1"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.namajshikkha.salat.Hadis"></activity>
        <activity android:name="com.namajshikkha.salat.AboutInventor" />
        <activity android:name="com.namajshikkha.salat.Feedback" />
        <activity android:name="com.namajshikkha.salat.KuranShikkha" />
        <activity android:name="com.namajshikkha.salat.ForojHojjNamanrShasti" />
        <activity android:name="com.namajshikkha.salat.HojjerGuruttoOFojilot" />
        <activity android:name="com.namajshikkha.salat.BodliHojjoKichuKotha" />
        <activity android:name="com.namajshikkha.salat.HojjerDingulateKoroniosomuho" />
        <activity android:name="com.namajshikkha.salat.Tamattur" />
        <activity android:name="com.namajshikkha.salat.Kibran" />
        <activity android:name="com.namajshikkha.salat.Ifrad" />
        <activity android:name="com.namajshikkha.salat.BivinnoProkarerHojj" />
        <activity android:name="com.namajshikkha.salat.HojerForojSunnatOwajib" />
        <activity android:name="com.namajshikkha.salat.IhramerNishiddhoKaj" />
        <activity android:name="com.namajshikkha.salat.Sair" />
        <activity android:name="com.namajshikkha.salat.Taoaf" />
        <activity android:name="com.namajshikkha.salat.TaoafOSair" />
        <activity android:name="com.namajshikkha.salat.HajOomrahorNiot" />
        <activity android:name="com.namajshikkha.salat.HojerBornonaOItihas" />
        <activity android:name="com.namajshikkha.salat.SalatTime" />
        <activity android:name="com.namajshikkha.salat.Counter" />
        <activity android:name="com.namajshikkha.salat.ZakatCalculator" />
        <activity android:name="com.namajshikkha.salat.ChitroSohoMohiladerNamaz" />
        <activity android:name="com.namajshikkha.salat.ChitroSohoPurusherNamaz" />
        <activity android:name="com.namajshikkha.salat.AboutApp" />
        <activity android:name="com.namajshikkha.salat.SuraRrahman" />
        <activity android:name="com.namajshikkha.salat.SuraIasin" />
        <activity android:name="com.namajshikkha.salat.SuraAnNas" />
        <activity android:name="com.namajshikkha.salat.SuraAlFalak" />
        <activity android:name="com.namajshikkha.salat.SuraAlIkhlas" />
        <activity android:name="com.namajshikkha.salat.SuraAlLahab" />
        <activity android:name="com.namajshikkha.salat.SuraAnNasor" />
        <activity android:name="com.namajshikkha.salat.SuraAlMaun" />
        <activity android:name="com.namajshikkha.salat.SuraAlFatiha" />
        <activity android:name="com.namajshikkha.salat.RojarFojilot" />
        <activity android:name="com.namajshikkha.salat.KajaRoja" />
        <activity android:name="com.namajshikkha.salat.RojaVongo" />
        <activity android:name="com.namajshikkha.salat.RojarShorto" />
        <activity android:name="com.namajshikkha.salat.RojarUddeshsho" />
        <activity android:name="com.namajshikkha.salat.RojarItihas" />
        <activity android:name="com.namajshikkha.salat.Roja" />
        <activity android:name="com.namajshikkha.salat.JakaterFojilot" />
        <activity android:name="com.namajshikkha.salat.JakatAdainaorarPorinam" />
        <activity android:name="com.namajshikkha.salat.JakatMuktoSompod" />
        <activity android:name="com.namajshikkha.salat.JakatProdanerNiom" />
        <activity android:name="com.namajshikkha.salat.JakatBontonerKhat" />
        <activity android:name="com.namajshikkha.salat.JakaterShorto" />
        <activity android:name="com.namajshikkha.salat.Akika" />
        <activity android:name="com.namajshikkha.salat.KurbanirPoshu" />
        <activity android:name="com.namajshikkha.salat.JaderUporKurbaniOajib" />
        <activity android:name="com.namajshikkha.salat.AlquraneKurbani" />
        <activity android:name="com.namajshikkha.salat.KurbanirViboron" />
        <activity android:name="com.namajshikkha.salat.ChotoChotoAmol" />
        <activity android:name="com.namajshikkha.salat.FojilotPurnoDoaoAmol" />
        <activity android:name="com.namajshikkha.salat.NamazerMakruhSomuho" />
        <activity android:name="com.namajshikkha.salat.NamazVongerKaronSomuho" />
        <activity android:name="com.namajshikkha.salat.ProcolitoShirokGunah" />
        <activity android:name="com.namajshikkha.salat.ShirokGunah" />
        <activity android:name="com.namajshikkha.salat.ProcolitoKobiraGunah" />
        <activity android:name="com.namajshikkha.salat.KobiraGunah" />
        <activity android:name="com.namajshikkha.salat.Ikamot" />
        <activity android:name="com.namajshikkha.salat.MuajjinerAdob" />
        <activity android:name="com.namajshikkha.salat.AjanerAhkam" />
        <activity android:name="com.namajshikkha.salat.AjanerFojilot" />
        <activity android:name="com.namajshikkha.salat.AjanerHukum" />
        <activity android:name="com.namajshikkha.salat.NamazerSunnat" />
        <activity android:name="com.namajshikkha.salat.NamazerOajib" />
        <activity android:name="com.namajshikkha.salat.NamazerForoj" />
        <activity android:name="com.namajshikkha.salat.JummaNamazerFojilot" />
        <activity android:name="com.namajshikkha.salat.JummarNamazerNiot" />
        <activity android:name="com.namajshikkha.salat.JummarNamaz" />
        <activity android:name="com.namajshikkha.salat.IstihajarBivoron" />
        <activity android:name="com.namajshikkha.salat.NifaserBiboron" />
        <activity android:name="com.namajshikkha.salat.HaejerHaramKaj" />
        <activity android:name="com.namajshikkha.salat.HaejerVumica" />
        <activity android:name="com.namajshikkha.salat.AroNamaz" />
        <activity android:name="com.namajshikkha.salat.IstikhajarNamaz" />
        <activity android:name="com.namajshikkha.salat.BetererNamaz" />
        <activity android:name="com.namajshikkha.salat.IdulAjaha" />
        <activity android:name="com.namajshikkha.salat.IdulFitor" />
        <activity android:name="com.namajshikkha.salat.TarabihNamaz" />
        <activity android:name="com.namajshikkha.salat.SasterNamaz" />
        <activity android:name="com.namajshikkha.salat.IshraqerNamaz" />
        <activity android:name="com.namajshikkha.salat.SalatulTasbih" />
        <activity android:name="com.namajshikkha.salat.TahajjotNamaz" />
        <activity android:name="com.namajshikkha.salat.NofolNamazerBiboron" />
        <activity android:name="com.namajshikkha.salat.JanajaNamaj" />
        <activity android:name="com.namajshikkha.salat.BibinnoGunahsomuho" />
        <activity android:name="com.namajshikkha.salat.DoaoAmol" />
        <activity android:name="com.namajshikkha.salat.KurbanirBiboron" />
        <activity android:name="com.namajshikkha.salat.JakaterBiboron" />
        <activity android:name="com.namajshikkha.salat.HojoOmrah" />
        <activity android:name="com.namajshikkha.salat.RojarBiboron" />
        <activity android:name="com.namajshikkha.salat.ChitrosohoNamaz" />
        <activity android:name="com.namajshikkha.salat.SuraSomuho" />
        <activity android:name="com.namajshikkha.salat.NamazerDoaoTasbih" />
        <activity android:name="com.namajshikkha.salat.NamazVongerkaron" />
        <activity android:name="com.namajshikkha.salat.NamazerForojSunnatOwajib" />
        <activity android:name="com.namajshikkha.salat.BivinnoNamaz" />
        <activity android:name="com.namajshikkha.salat.KajaNamaz" />
        <activity android:name="com.namajshikkha.salat.PaswaktoNamaz" />
        <activity android:name="com.namajshikkha.salat.NamazerBiboron" />
        <activity android:name="com.namajshikkha.salat.HaejoNifas" />
        <activity android:name="com.namajshikkha.salat.AjanoIkamot" />
        <activity android:name="com.namajshikkha.salat.TaiamumerMasla" />
        <activity android:name="com.namajshikkha.salat.TaiamumerNiom" />
        <activity android:name="com.namajshikkha.salat.TaiamumerForoj" />
        <activity android:name="com.namajshikkha.salat.TaiamumerShorto" />
        <activity android:name="com.namajshikkha.salat.TaiamumerBornona" />
        <activity android:name="com.namajshikkha.salat.Taiamum" />
        <activity android:name="com.namajshikkha.salat.JunubiHaramMakruh" />
        <activity android:name="com.namajshikkha.salat.MustahabGosol" />
        <activity android:name="com.namajshikkha.salat.SunnahOnujaiGosol" />
        <activity android:name="com.namajshikkha.salat.ForozGosolerNiom" />
        <activity android:name="com.namajshikkha.salat.GosolerForoj" />
        <activity android:name="com.namajshikkha.salat.GosolForojHoarKaron" />
        <activity android:name="com.namajshikkha.salat.GosolerBornona" />
        <activity android:name="com.namajshikkha.salat.Gosol" />
        <activity android:name="com.namajshikkha.salat.OjurNiot" />
        <activity android:name="com.namajshikkha.salat.OjurNiom" />
        <activity android:name="com.namajshikkha.salat.OjuVongo" />
        <activity android:name="com.namajshikkha.salat.OjurSunnat" />
        <activity android:name="com.namajshikkha.salat.OjurForoz" />
        <activity android:name="com.namajshikkha.salat.OjurFojilot" />
        <activity android:name="com.namajshikkha.salat.OjurBornona" />
        <activity android:name="com.namajshikkha.salat.Oju" />
        <activity android:name="com.namajshikkha.salat.PobitrotarGurutto" />
        <activity android:name="com.namajshikkha.salat.Pani" />
        <activity android:name="com.namajshikkha.salat.PobitrotarBornona" />
        <activity android:name="com.namajshikkha.salat.Pobitrota" />
        <activity android:name="com.namajshikkha.salat.Kalema" />
        <activity android:name="com.namajshikkha.salat.AllahorPorisoi" />
        <activity android:name="com.namajshikkha.salat.HadisName" />
        <activity android:name="com.namajshikkha.salat.NameOfAllah" />
        <activity android:name="com.namajshikkha.salat.SecondActivity" />
        <activity android:name="com.namajshikkha.salat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>